.branding{

    font-family: 'Oswald', sans-serif;
    font-size: 500%;

}

nav.navbar{

    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hambmenu{

    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Oswald', sans-serif;
}

.navbar_promise{

    font-family: 'Oswald', sans-serif;
    font-size: 500%;
    justify-content: center;
}

.maintext{

    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    justify-content: center;
}